#calculator{
    width: 400px;
    margin: 20px auto;
}

.line{
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.calc_button{
    width: 100px;
    height: 100px;
    font-size: 30px;
}

.submit{
    width: 400px;
}
#result{
    font-size: 30px;
    width: 400px;
}